body{
    background-color: rgb(70,142,236);
    font: normal 15pt Arial;
    }
header{
    color: #ffffff;
    text-align: center;
}
section{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0,0,0,0.306);
    margin: auto;
    width: 500px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
